{{>partials/header}}
 {{#showAlert}}
     <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{mensage}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/showAlert}}
{{>partials/menu}}
<div class="register_div d-flex justify-content-center align-items-center">
    <form class="register_form d-flex" method="POST" action="/register">
        <div class="row input_register">
            <div class="name">
                Username<br>
                <input type="text" placeholder="Ex: Joaoheroi25" name="username">
            </div>
            <div class="email_adress">
                Email Adress<br>
                <input type="email" placeholder="Ex: joao25heroi@gmail.com" name="email">
            </div>
            <div class="password_user">
                Password<br>
                <input type="password" placeholder="Ex: 12453" name="password">
            </div>
            <div class="register_user">
                <input type="submit" value="Register">
            </div>
        </div>
        <div class="row image_register"></div>
    </form>
<div>



    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script src="/menu.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>