        <main>
           {{>partials/menu}}
                <div class="content_show d-flex">
                    <button class="slide_left" onclick="slideshowLeft()">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </button>
                        <div class="image_module"></div>
                    <button class="slide_right" onclick="slideshowRight()">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h1>Designed and developed by João Vitor Silva</h1>
            </div>
        </main>
    </div>